ul#siderbar li.nav-item a.nav-link{
    padding: 3px 1em;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul#siderbar li.nav-item strong{
    padding-left: 5px;
}
ul#siderbar li.nav-item a.nav-link:hover{
    background: #ddd;
}
.fixed-top{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav a {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.sidebar{
    top: 32px;
}
.dropdown-menu{
    right: 9px!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.current{
    background: #ddd;
    color: #333;
}
ul#siderbar>li>a{
    margin-top: 1px;
    margin-bottom: 1px;
}
.card-header{
    padding: 4px 3px 2px 21px;
}
.btn-flat{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.lb{
    font-size: 14px;
    padding-top: 8px;
    padding-left: 18px;
}
.sl{
    padding-top: 4px;
    padding-bottom: 4px;
}
.btn{
    font-size: 13px;
}
.form-control{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 13px;
}
.fa{
    font-size: 13px;
}
ul.pagination{
    margin-top: 10px;
}
ul.pagination li{
    padding: 7px 0;
    font-size: 13px;
    border: 1px solid #ddd;
}
ul.pagination li.active {
    background: #ddd;
    font-weight: bold;
}
ul.pagination li a, ul.pagination li span{
    padding: 9px 15px;
}
.form-group {
    margin-bottom: 2px;
}
.card-header a{
    margin: 0 5px 0 8px;
}
.alert{
    padding: 5px 9px;
    font-size: 13px;
    border-radius: 0;
}
.bg-blue
{
    background: #295fb1;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #bababa;
}
.nav-tabs {
    font-size: 14px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.btn-search {
    height: 21px;
    line-height: 16px;
}
.filter{
    font-weight: normal;
    font-size: 11px;
    font-family: arial;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    font-weight: bold;
    background-color: #ddd;
}
.card-block {
    padding: 15px 10px;
}
.form-control {
    line-height: 12px;
}
.modal-xlg{
    max-width: 900px!important;
}
.my-btn{
    margin:2px 0;
    width: 54px;
    padding-top: 2px;
    padding-bottom: 2px;
}